table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  th {
    background-color: #2196f3;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #2196f3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
.red {
  color: red;
  background-color: antiquewhite;
  border-radius: 25px;
  padding: 5px 5px 5px 5px;
}

.green {
  color: green;
  background-color: antiquewhite;
  border-radius: 25px;
  padding: 5px 5px 5px 5px;
}

.black {
  background-color: antiquewhite;
  border-radius: 25px;
  padding: 5px 5px 5px 5px;
}
