<table>
  <tr>
    <th>Record Number</th>
    <th (click)="sort('id')">Id</th>
    <th (click)="sort('name')">Name</th>
    <th (click)="sort('authors')">Authors</th>
    <th (click)="sort('year')">Year</th>
    <th (click)="sort('price')">Price</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let book of model; let i = index">
    <td>{{ i+1 }}</td>
    <td>{{ book.id }}</td>
    <td>{{ book.name }}</td>
    <td>{{ book.authors }}</td>
    <td>{{ book.year }}</td>
    <td>
      <span [ngClass]="{'red': book.price > 75, 'green': (book.price < 75 && book.price > 40), 'black': (book.price < 40)}">
        {{ book.price | currency : 'USD': true : '1.2-2' }}
      </span></td>
    <td>
      <label class="switch">
          <input type="checkbox" value="book.id" [checked]="selectedRows.includes(book.id)" (change)="onRowSelected($event, book.id)">
          <span class="slider round"></span>
        </label>
    </td>
  </tr>
</table>
<button (click)="changePage(this.pageNumber - 1)" [disabled]="pageNumber === 0"><</button>
<select [(ngModel)]="pageSize" (change)="changePage(this.pageNumber)">
  <option>10</option>
  <option>100</option>
  <option>1000</option>
</select>
<button (click)="changePage(this.pageNumber + 1)" [disabled]="atEnd">></button>
<p>Page: {{ pageNumber + 1 }} / {{ pageCount }}</p>